*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root{
  --head_back: rgb(25, 60, 83);
  --tit_color: rgb(231, 229, 229);
  --main_back: #2e2e2e;
  --yel_color: yellow;
  --btn_color: #222;
  --green_color: rgb(76, 211, 76);
}

.light_mode{
  --head_back: rgb(151, 155, 121);
  --tit_color: #2e2e2e;
  --main_back: rgb(189, 184, 184);
  --yel_color: #000;
  --btn-color: #eee;
  --green_color: rgb(6, 59, 15);
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  min-height: 120vh;
  background-color: var(--main_back);
  transition: .3s;
 }

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  background: var(--head_back);
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.466) 0px 8px 16px, rgba(0, 0, 0, 0.459) 0px 16px 32px, rgba(0, 0, 0, 0.61) 0px 32px 64px;
  transition: .3s;
}

.navbar .title{
  color: var(--tit_color);
  font-size: 1.4rem;
  user-select: none;
  transition: .3s;
}

.navbar #icon{
  color: var(--tit_color);
  font-size: 1.6rem;
  cursor: pointer;
  padding: 5px;
  transition: .3s;
}

.stats{
  display: flex;
  flex-wrap: wrap;
  padding-block: 5rem;
  padding-inline: 1.3rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-inline: 15%;
}

.select,#input{
  padding: .3rem;
  background: var(--main_back);
  border-bottom: 2px solid var(--tit_color) !important;
  width: 100%;
  color: var(--tit_color);
  border: none;
  font-family: inherit;
  padding-inline: 1rem;
  font-size: 1rem;
  outline: none;
  font-weight: 500;
  transition: .3s;
  font-weight: 500;
}

.h6text{
  color: var(--yel_color);
  padding-bottom: 10px;
  transition: .3s;
}
.buttons{
  text-align: center;
}
.btn{
  background-color: var(--tit_color);
  border: none;
  border-radius: 5px;
  padding:  .5rem 1rem;
  color: var(--btn-color);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: .15s;
  margin-bottom: 3rem;
}
.btn:hover{
  letter-spacing: 1.1px;
}
.result{
  color: var(--yel_color);
  font-size: 1.5rem;
  font-weight: 500;
  transition: .3s;
}
footer{
  background: var(--tit_color);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-block: .8rem;
  z-index: 1000;
  transition: .3s;
}
footer h3, footer a{
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
footer h3{
  color: var(--main_back);
  transition: .3s;
}
footer a{
  color: var(--btn-color)
  
}
footer a:hover{
  letter-spacing: 1.1px;
  transition: .15s;
}

.span2{
  color: var(--green_color);
  font-size: 1.5rem;
}
.span{
  color: var(--tit_color);
  font-size: 1.5rem;
}

@media(max-width: 882px){
  .stats{
    margin-inline: 0;
  }
  #input{
    width: 137%;
  }
}
@media(max-width: 370px){
  #input{
    width: 100%;
  }
  .stats{
    padding-inline: 1rem;
  }
  .navbar .title{
    font-size: 1rem;
  }
  .result{
    padding-inline: 1rem;
    font-size: 1.2rem;
  }
  .span, .span2{
    font-size: 1.2rem;
  }
}

